/bin
/docs
/eclipse
/conf
/lib
/logs
/reobf
/runtime
/temp
/CHANGELOG
/cleanup.*
/decompile.*
/getchangedsrc.*
/LICENSE.txt
/recompile.*
/reformat.*
/reobfuscate.*
/startclient.*
/startserver.*
/updateids.*
/updatemcp.*
/updatemd5.*
/updatenames.*